* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: url(/assets/images/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.hidden {
    display: none !important;
}

.container {
    backdrop-filter: blur(3px);
}

.main {
    background-color: #ace0e96b;
    width: 700px;
    height: 350px;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 220px;
}

#clock {
    font-size: 40px;
    font-weight: 700;
}

.logo {
    display: flex;
    justify-content: center;
    width: 220px;
}

.logo img {
    width: 70px;
}

#temperature {
    display: flex;
    justify-content: center;
    width: 220px;
}

#temperature h2 {
    font-size: 65px;
    font-weight: 700;
}

.search {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 220px;
}

#search-ipt {
    background: none;
    border: 3px solid;
    border-radius: 5px;
    padding: 8px;
}

#search-btn {
    background: #26A3B9;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    padding: 8px;
    cursor: pointer;
    margin-left: 10px;
}

.center {
    display: flex;
    align-items: end;
    height: 230px;
}

.suggestions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.suggestions button {
    background-color: #168AA5;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: 0.4s;
    min-width: 200px;
    padding: 8px 10px;
    margin: 8px;
}

.suggestions button:hover {
    background-color: #26A3B9;
}

.details {
    display: flex;
    align-items: end;
    height: 100%;
}

#humidity, #weather, #wind {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#humidity, #wind {
    font-size: 25px;
    width: 165px;
}

#weather {
    width: 330px;
}

#weather span {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

#weather img {
    width: 80px;
}

.footer {
    background-color: #ace0e99f;
    max-width: 800px;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel {
    width: 200px;
    font-weight: 700;
    font-size: 25px;
}

#city {
    display: flex;
    align-items: center;
}

#city img {
    font-size: 24px;
    margin-right: 8px;
    width: 50px;
}

#loader {
    display: flex;
    justify-content: center;
}

#loader .fa-sun {
    font-size: 50px;
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

#error-msg {
    color: brown;
    font-size: 20px;
}

.days span {
    margin: 10px;
}

.days span.active {
    margin: 5px;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
}