* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
}

body {
    background: #0079A1;
}

header {
    background: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.185);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    margin-bottom: 50px;
}

.logo img {
    width: 100px;
}

.searchBar {
    display: flex;
    max-width: 400px;
    width: 100%;
}

.searchBar input {
    border-radius: 6px;
    margin-right: 6px;
    padding: 9px;
    width: 100%;
}

.searchBar button {
    background: #0079A1;
    color: white;
    border-radius: 6px;
    padding: 6px;
}

section {
    background: white;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.356);
    border-radius: 12px;
    text-align: center;
    line-height: 1.5;
    padding: 18px;
    margin: auto;
    max-width: 600px;
}

section img {
    border-radius: 20%;
    margin-top: 10px;
    width: 150px;
}

/* section weather result */
section h1 {
    background: #F0C741;
    border-radius: 12px;
    margin-bottom: 10px;
}

section p {
    font-size: 20px;
}

#icon {
    background: #0079A1;
    border-radius: 20%;
    margin-top: 10px;
    width: 70px;
}

/* mobile version */
@media (max-width: 500px) {
    body {
        font: normal 7pt Arial;
    }

    .logo img {
        width: 70px;
        margin-right: 12px;
    }

    .searchBar {
        max-width: 250px;
    }

    .searchBar input {
        margin-right: 6px;
        padding: 6px;
    }

    section {
        width: 80%;   
    }

    section img {
        width: 100px;
    }

    /* section weather result */
    section h1 {
        font-size: 15px;
    }
    
    section p {
        font-size: 15px;
    }
    
    #icon {
        width: 40px;
    }
}
